.hero-section {
    height: 700px;
    background-image: url('./assets/swaroski.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
  }
  .about img{
    height: 400px;
    width: 500px;
  }